h1{
    color: red;
}

.hero{
    background-image: url('../Cow_female_black_white.jpg');
    height: 100%;
    background-size: cover;
    width: 100%;
    background: linear-gradient(red green);
    clip-path: polygon(33% 3%, 100% 72%, 0 88%);
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 600px;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 10px;
    letter-spacing: 10px;
    clip-path: polygon(33% 3%, 100% 72%, 0 88%);
}

.div,#cow-type{
    background-color: aquamarine;
    margin: 60px auto;
    width: 80%;
    border-width: 15px;
    padding: 60px;
    border-color: yellow;
    border-style: groove;
    background: linear-gradient(45deg,rgb(204, 95, 95) , rgb(62, 182, 62));
}

.div h2{
    text-align: center;
    font-size: 60px;
    border-width: 5px;
    border-color: green;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: linear-gradient(rgb(204, 95, 95) , rgb(62, 182, 62));
}

.cow-type{
   
    margin: 60px auto;
    width: 80%;
    border-width: 15px;
    padding: 60px;
    border-color: yellow;
    border-style: groove;
    margin: 20px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-around;
    background: linear-gradient(rgb(204, 95, 95) , rgb(62, 182, 62));
}