h1{
    color: red;
}

.hero{
    background-image: url('../Cow_female_black_white.jpg');
    height: 100%;
    background-size: cover;
    width: 100%;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 600px;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 10px;
    letter-spacing: 10px;
}

.div,#cow-type{
    background-color: aquamarine;
    margin: 60px auto;
    width: 80%;
    border-width: 15px;
    padding: 60px;
    border-color: yellow;
    border-style: groove;
}

.div h2{
    text-align: center;
    font-size: 60px;
    border-width: 5px;
    border-color: green;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.cow-type{
    background-color: aquamarine;
    margin: 60px auto;
    width: 80%;
    border-width: 15px;
    padding: 60px;
    border-color: yellow;
    border-style: groove;
    margin: 20px;
}